body {
font-family: Arial, sans-serif;
background: #f4f4f4;
}


.container {
width: 500px;
margin: 100px auto;
background: white;
padding: 20px;
border-radius: 10px;
}
textarea {
width: 100%;
height: 100px;
}


button {
padding: 10px 20px;
margin-top: 10px;
}
.result {
margin-top: 20px;
font-size: 18px;
}